@model IEnumerable<XinemaActual.Models.Movie>

@{
    ViewBag.Title = "Movies";
   
}

<div class="pull-right">
    @Html.Label("Order By")
    @Html.DropDownList("MovieOrderByDropDownItems", null, new { onchange = "document.location.href='/Movies/Index?id='+this.value;" })
</div>
<div class="clear"> 
</div>
<div class="container">
    <div class="top-box">

        @foreach (var item in Model)
            {
            <div class="col_1_of_3 span_1_of_3">
                <a href="">
                    <div class="inner_content clearfix">
                        <div class="product_image">
                            <img src="" alt="" />
                        </div>
                        <div class="price">
                            <div class="cart-left">
                                @Html.ActionLink(item.movieTitle, "Details", new { id = item.movieID }, new { @class = "title" })
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

